---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Landing from "../components/Landing.astro";
import Skills from "../components/Skills.astro";
import Card from "../components/Card.astro";
---

<Layout title="Portfolio 🚀">
  <Header />
  <main class="mt-10 flex flex-col justify-center items-center p-5 gap-20">
    <Landing />
    <Skills />
    <section id="proyectos" class="w-1/2 flex flex-col gap-3">
      <h2 class="text-xl font-bold">
        Proyectos
      </h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil provident sit deserunt error? Corporis, natus aperiam quidem, at quas laborum sapiente voluptates adipisci, voluptatibus sequi iusto dolorum quaerat quis suscipit.
      Et ducimus repudiandae laudantium velit corporis quas mollitia, similique sunt labore tempore aspernatur quis explicabo eligendi atque tempora omnis corrupti nam. Repellat ipsam error voluptatem tempore pariatur praesentium cupiditate voluptas.
      Ullam voluptate iste in impedit inventore distinctio atque beatae, facilis tenetur eveniet fugit nisi suscipit quibusdam blanditiis magnam quo totam molestias ut aspernatur illum velit! Cumque tempore animi suscipit alias!
      Fuga quae at perferendis a dolore animi deleniti officia neque, odio ab eveniet vero ducimus quia reiciendis sapiente adipisci dicta tempore delectus libero maxime. Architecto repudiandae quo accusamus odio cumque!
      Ullam omnis itaque laborum error beatae dolore magnam totam autem alias suscipit minima iste dicta, voluptate deleniti minus sint nihil facere corrupti illum quidem aspernatur vitae ab impedit! Earum, possimus?
    </section>
  </main>
</Layout>
