<header
  class="bg-slate-900 border-white border-b-2 p-5 flex justify-center items-center gap-10 sticky top-0"
>
  <h1 class="text-xl">
    Portfolio, por <span class="text-secondary-pink">Reuben R.</span>
  </h1>
  <ol class="list-none flex flex-row gap-5">
    <li
      class="border-b-2 border-white hover:-translate-y-2 transition-transform hover:text-secondary-pink hover:border-secondary-pink ease-in-out visited:text-tertiary-pink"
    >
      <a href="#landing"> Inicio</a>
    </li>
    <li
      class="border-b-2 border-white hover:-translate-y-2 transition-transform hover:text-secondary-pink hover:border-secondary-pink ease-in-out visited:text-tertiary-pink"
    >
      <a href="#skills"> Tecnologías</a>
    </li>
    <li
      class="border-b-2 border-white hover:-translate-y-2 transition-transform hover:text-secondary-pink hover:border-secondary-pink ease-in-out visited:text-tertiary-pink"
    >
      <a href="#projects"> Proyectos</a>
    </li>
  </ol>
</header>
