<section id="landing" class="w-1/2 flex justify-center items-center gap-5">
    <div class="flex flex-col gap-5">
      <p>
        Hola, soy <strong>Reuben</strong>, un estudiante de ingeniería de
        sistemas con sede en México.
      </p>
      <p>
        Mi pasión por la tecnología y el desarrollo de software me impulsa a
        explorar constantemente nuevas habilidades y enfoques en mi campo de
        estudio. Actualmente, estoy inmerso en el aprendizaje de diversas
        tecnologías del desarrollo de aplicaciones web.
      </p>
      <p>
        Mi objetivo es contribuir de manera significativa al mundo de la
        tecnología, aprovechando mis conocimientos y habilidades en la
        resolución de problemas y la creación de soluciones innovadoras.
      </p>
    </div>
    <img
      src="/me.webp"
      alt="me"
      class="w-5/6 mx-auto mt-10 rounded-full filter"
    />
  </section>